@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model InventoryManager.BLL.models.UserViewModel;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inventory Manager - Home</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/css/assets/img/favicon.png" rel="icon">
    <link href="~/css/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/css/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/css/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/css/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/css/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/css/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h6 class="logo me-auto"><a asp-controller="Start" asp-action="Index">Inventory Manager</a></h6>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" asp-action="Index" asp-controller="Start">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link scrollto" href="#team">Team</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                @if (@ViewBag.ErrMsg != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> @ViewBag.ErrMsg
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (@TempData["SuccessMsg"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Success!</strong> @TempData["SuccessMsg"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="section-title">
                    <h2>Register</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    @* <div class="alert-danger" asp-validation-summary="@ValidationSummary.All"></div>*@
                      
                    <div class="col-lg-10 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form asp-controller="User" asp-action="Save">
                            
                                <div class="form-group ">
                                    <label asp-for="@Model.FullName">FullName</label>
                                    <input asp-for="@Model.FullName" class="form-control" id="name" >
                                <span style="color: red" asp-validation-for="FullName"></span>
                                </div>
                                <div class="form-group ">
                                    <label asp-for="@Model.Email">Email</label>
                                <input class="form-control" id="email" asp-for="@Model.Email">
                                <span style="color: red" asp-validation-for="Email"></span>
                                </div>

                            <div class="form-group">
                                <label asp-for="@Model.Phone">Phone</label>
                                <input class="form-control" asp-for="@Model.Phone" id="subject" >
                                <span style="color: red" asp-validation-for="Phone"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Password">Password</label>
                                <input asp-for="@Model.Password" class="form-control"  id="subject">
                                <span style="color: red" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                                <input asp-for="@Model.ConfirmPassword" class="form-control"  id="subject">
                                <span style="color: red" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <a asp-action="Login" asp-controller="User">Click here to login</a>
                            <br />
                            <div class="text-center"><button type="submit">Submit</button></div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>Inventory Manager</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Inventory Manager</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="#">Henry</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    @section Scripts
        {
        @{
            Html.RenderPartial("_ValidationScriptsPartial");
        };
    }

    <!-- Vendor JS Files -->
    <script src="~/css/assets/vendor/aos/aos.js"></script>
    <script src="~/css/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/css/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/css/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/css/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/css/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/css/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/css/assets/js/main.js"></script>

</body>

</html>