@model InventoryManager.BLL.Models.ProductViewModel;
@{
    ViewData["Title"] = "Product Details";
}

<h1>Product Details</h1>

@if (@TempData["ErrMsg"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["ErrMsg"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description )
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
           # @Html.DisplayFor(model => model.Price)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <form asp-action="Delete" asp-controller="Product">
      
        <label asp-for="UserId"></label>
        <input asp-for="UserId" />
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger"> Delete </button> |
        </form>
    <a asp-controller="Product" asp-action="Index">Back to List</a>
</div>