@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product";
}
@model IEnumerable<InventoryManager.BLL.Models.ProductViewModel>;

    
@if (@TempData["SuccessMsg"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> @TempData["SuccessMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


<h4>Hello, here is a list of your products</h4>
<div><a asp-action="Index" asp-controller="Sales" asp-route-id="@Model.Select(p => p.UserId).ToList().FirstOrDefault()" class="btn btn-primary" style="float: left">All Sales</a></div>
<div><a asp-action="AddNew" asp-controller="Product" asp-route-id="@Model.Select(p => p.UserId).ToList().FirstOrDefault()" class="btn btn-primary" style="float: right">Add New Product</a></div>
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Brand Name</th>
                <th scope="colgroup">Action</th>
            </tr>
        </thead>
        <tbody>

            @{
            foreach (var item in Model.Select((value, i) => new { value, i }))
                {
                    <tr>
                    <th scope="row">@(item.i + 1)</th>
                    <td>@item.value.Name</td>
                    <td>@item.value.Description</td>
                    <td>@item.value.Category</td>
                    <td>@item.value.Quantity</td>
                    <td>#@item.value.Price</td>
                    <td>@item.value.BrandName</td>
                     <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.value.Id">Edit</a> |
                <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.value.Id">Details</a> |
                <a class="btn btn-danger btn-sm" asp-action="Details" asp-route-id="@item.value.Id">Delete</a> |
              <a class="btn btn-success btn-sm" asp-action="AddNew" asp-controller="Sales" asp-route-id="@item.value.Id">Sell</a>
            </td>
                </tr>
            };
            }

        </tbody>
    </table>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    };
    
}



